<div class='row'>
  <h3>Click a section below to edit</h3>
  <div class='col-md-3'>
      <%= link_to 'About you', edit_user_profile_path(@user,@profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @profile, @dogs), class: 'btn btn-primary'%>
  </div>
  <div class='col-md-9' id='profile_form'>


    <%= render 'form' %>


  </div>
</div>
