<div class='row'>
  <h3>Click a section below to edit</h3>
  <div class='col-md-3'>
      <%= link_to 'About you', new_user_profile_path(@user,@profile), class: 'btn btn-primary'%><br>
      <%= link_to 'Your dog', user_dogs_path(@user, @dogs), class: 'btn btn-primary'%>
  </div>
  <div class='col-md-9' id='profile_form'>
    <div class="row">
      <div class="col-md-4">
        <%= render 'form' %>
      </div>
      <div class="col-md-4">
        <% if current_user.profile.avatar.present?%>
          <%= image_tag(current_user.profile.avatar.url(:medium), :class => "profile-image-200")%>
        <% else %>
          <img src="/images/thumb/missing.png" class='profile-image-200' alt="" />
        <% end %>

      </div>

    </div>





  </div>
</div>
