 <div class="row">
   <div class="col-md-10 col-md-offset-1">
     <div class="col-md-9">
       <h3><%= @listing.title %></h3>
       <div class="">
         <h4>About <%= @listing.user.profile.first_name %></h4>
         <p>
           <%= @listing.describtion %>
         </p>
       </div>
       
       <div class="">
         <h4>Details</h4>
         
       </div>
       
       
     </div>
   </div>
  
  
  
</div>