<h2>About Your Dogs</h2>
<%= link_to 'Add Another dog', new_user_dog_path, remote: true, class: 'btn btn-primary'%>
<div>
  <ul id='dog_list'>
    <% if @user.dogs.any? %>
      <% @user.dogs.each do |dog|%>
        <li>
          <strong>Dog's name: </string><%= dog.name%><br>
          <%= link_to 'Edit', edit_user_dog_path(@user, dog), class: 'btn btn-primary', remote: true%>
          <%= link_to 'Reomove This Dog', user_dog_path(@user, dog), class: 'btn btn-primary', method: :delete, data:
          {confirm: 'Are your sure?'} %>
        </li>


      <% end %>
    <% else %>
    <p>
      Your currently have no dogs, please add your first dog below.
    </p>

    <% end %>

  </ul>
</div>


<div id='new-dog-form'>

</div>
